.wishcard {
    width: 270px;
    height: 350px;

    .wish-image {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 172px;
            height: 152px;
            object-fit: contain;
        }

        .discount {
            width: 70px;
            height: 26px;
            padding: 4px 12px;
            border-radius: 4px;
            background:  rgba(219, 68, 68, 1);
            color:  rgba(250, 250, 250, 1);
            font-family: Poppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: center;
            position: absolute;
            left: 12px;
            top: 12px;
        }

        .icons {
            position: absolute;
            top: 12px;
            right: 12px;

            .delete{
                font-size: 30px;
            }
            
        }
        
        .btn {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 41px;
            width: 100%;
            border-radius: 0px 0px 4px 4px;
            background: rgba(0, 0, 0, 1);
            color: rgba(255, 255, 255, 1);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            
        }

       

    }

    .wish-content {
        h3 {
            color: rgba(0, 0, 0, 1);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }

        .prices {
            display: flex;
            gap: 12px;

            .new-price {
                color: rgba(219, 68, 68, 1);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
            }

            .old-price {
                color:  rgba(0, 0, 0, 0.5);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
                text-decoration-line: line-through;
            }
        }

        .rating {
            display: flex;
            align-items: center;
        }
    }
}