@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.black-header {
    width: 1440px;
    height: 48px;
    background-color: black;
    color: white;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.black-header a{
    color: white;
}


.header {
    width: 1170px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    // background-color: yellow;

    .logo {
        font-family: Poppins;

    }

    .menu {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-family: Poppins;
    }

    .header-right {
        display: flex;
        gap: 20px;
    }

    .header-right input {
        padding-left: 20px;
        width: 243px;
        height: 38px;
        background-color: rgba(245, 245, 245, 1);
        border: none;
        font-size: 12px;
        font-weight: 400;
    }

    .lupa {
        font-size: 25px;
        position: absolute;
        right: 100px;
        top: 30px;
    }

    .cart {
        font-size: 25px;
        margin-top: 7px;
    }

    .heart {
        font-size: 25px;
        margin-top: 7px;
    }
    .wish-count{
    position: relative;

     .count{
        width: 16px;
        height: 16px;
        background-color: red;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        position: absolute;
        top: 3px;
        right: -3px;
     }

    }
}

.line {
    width: 1440px;
    height: 0;
    border: 0.5px solid lightgrey;
    margin: 0 auto;
}