.banner {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .sidebar {
        width: 217px;
        height: 344px;
        border-right: 0.5px solid rgba(0, 0, 0, 0.5);

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: 100%;
            overflow-y: scroll;
            

            li {
                color:  rgba(0, 0, 0, 1);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: start;
                cursor: pointer;
            }
        }
    }

    .carousel {
        width: 892px;
        height: 344px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}